.sidebar-link {
    position: relative;
    padding: 0.5rem 2rem;        
    font-size: 0.875rem;       
    font-weight: 500;           
    text-decoration: none;
    color: var(--richblack-300);
    background-color: transparent;
    transition: all 0.2s ease-in-out;
    display: flex;
}
  
.changeBgSidebar {
    background-color: var(--yellow-800);
    color: var(--yellow-50);
}
  
.sidebar-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.15rem;
    background-color: var(--yellow-50);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
  
.changeBgSidebar .sidebar-indicator {
    opacity: 1;
}
  
.sidebarL-content {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
}
  
.sidebar-icon {
    font-size: 1.125rem; 
}
  
.sidebar-text {
    font-size: 14px;
}

.sidebar-link:hover{
    color:var(--white);
}
  