.errorpage{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: var(--white);
    font-weight: bold;
}