.forgot-password-container {
    display: grid;
    place-items: center;
    min-height: 100vh;

}

.loading-spinner {
    text-align: center;
    font-size: 1.5rem;
    color: var(--white);
}

.forgot-password-box {
    max-width: 500px;
    padding: 16px;
}

@media (min-width: 1024px) {
    .forgot-password-box {
        padding: 32px;
    }
}

.forgot-password-title {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 2.375rem;
    color: var(--richblack-5);
}


.forgot-password-text {
    margin: 16px 0;
    font-size: 1.25rem;
    line-height: 1.625rem;
    color: var(--richblack-100);
    margin-bottom: 2.5rem;
}

.forgot-password-label {
    width: 100%;
}

.star-pink{
    color: var(--pink-200);
}

.forgot-password-input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--gray-300);
    font-size: 1rem;
    outline: none;
}

.forgot-password-button {
    margin-top: 30px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--yellow-50);
    padding: 12px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--richblack-500);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.forgot-password-button:hover {
    background-color: var(--yellow-100);
}

.back-to-login {
    margin-top: 24px;
    display: flex;
    align-items: center;
}


.back-to-login a {
    color: var(--blue-100);
    text-decoration: none;
}

.back-to-login p:hover {
    text-decoration: underline;
}
