.update-password-container {
    display: grid;
    min-height: 100vh;
    place-items: center;
}

.update-password-form {
    max-width: 500px;
    padding: 16px;
}

.update-password-header {
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 600;
}  

.update-password-description {
    margin-top: -10px;
    font-size: 1.125rem;
    line-height: 1.25rem;
    color: var(--richblack-100);
}

.update-password-label {
    position: relative;
}

.update-password-label p {
    margin-bottom: 10px;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: var(--richblack-5);
}

.text-pink-200s{
    color: var(--pink-200);
}

.update-password-input {
    width: 100%;
    padding-right: 40px;
    border: 1px solid var(--gray-300);
    border-radius: 8px;
    padding: 12px;
    box-sizing: border-box;
}

.update-password-eye-icon {
    position: absolute;
    top: 60px;  
    right: 10px;
    cursor: pointer;
}

.update-password-eye-icon2{
    position: absolute;
    top: 90px;
    right: 10px;
    cursor: pointer;
}

.update-password-submit-btn {
    margin-top: 24px;
    width: 100%;
    border-radius: 8px;
    background-color:var(--yellow-50);
    padding: 12px;
    font-size: medium;
    font-weight: 500;
    color: var(--richblack-900);
    border: none;
    outline: none;
}

.update-password-back-link {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-password-back-link a{
    text-decoration: none;
    color: var(--richblack-5);
    display: flex;
    align-items: center;
    gap: 20px;
}


.update-password-back-link p:hover{
    text-decoration: underline;
}

