
.ReviewSlider-container {
    width: 100%;
    color: var(--richblack-25);
    padding-top: 2rem;
    padding-bottom: 2rem;
}  

.ReviewSlider-wrapper {
    margin: 50px auto;
    height: auto;
    max-width: 1160px;
    padding: 0 1rem;
}

.ReviewSlider-slide {
    background-color: var(--richblack-800);
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-size: 14px;
    color: var(--richblack-25);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.ReviewSlider-slide:hover {
    transform: translateY(-5px);
}

.ReviewSlider-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ReviewSlider-avatar {
    height: 55px;
    width: 55px;
    border-radius:50%;
    object-fit: cover;
}

.ReviewSlider-userInfo {
    display: flex;
    flex-direction: column;
}

.ReviewSlider-userName {
    font-weight: 600;
    color: var(--richblack-5);
}

.ReviewSlider-courseTitle {
    font-size: 12px;
    font-weight: 500;
    color: var(--richblack-500);
}

.ReviewSlider-reviewText {
    font-weight: 500;
    color: var(--richblack-25);
    line-height: 1.4;
}

.ReviewSlider-ratingWrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.ReviewSlider-ratingValue {
    font-weight: 600;
    color: var(--yellow-100);
    transform: translateY(3px);
}

.ReviewSlider-ratingWrapper svg {
    fill: var(--yellow-100);
    font-size: 20px;
}

@media (max-width: 1024px) {
    .ReviewSlider-wrapper {
      max-width: 900px;
    }
  
    .ReviewSlider-slide {
      font-size: 13px;
    }
}

@media (max-width: 768px) {
    .ReviewSlider-wrapper {
      max-width: 100%;
    }
  
    .ReviewSlider-slide {
      padding: 0.6rem;
    }
  
    .ReviewSlider-header {
      gap: 0.5rem;
    }
  
    .ReviewSlider-avatar {
      height: 40px;
      width: 40px;
    }

}

@media (max-width: 480px) {
    .ReviewSlider-slide {
      font-size: 12px;
      padding: 0.5rem;
    }
  
    .ReviewSlider-userName {
      font-size: 13px;
    }
  
    .ReviewSlider-courseTitle {
      font-size: 11px;
    }
  
    .ReviewSlider-reviewText {
      font-size: 12px;
    }
  
    .ReviewSlider-ratingWrapper svg {
      font-size: 16px;
    }
    .ReviewSlider-ratingWrapper {
        flex-direction: column !important;
    }
}
  