.formdata {
    margin-top: 0.5rem; 
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}

.labelcont {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.labelcont > p {
    margin-bottom: 0.25rem; 
    font-size: 0.875rem;     
    line-height: 1.375rem;  
    color: var(--richblack-5);
}

.labelcont sup {
    color: var(--pink-200);
}

.labelcont input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    background-color: var(--richblack-800);
    color: var(--richblack-5);
    border: 1px solid var(--richblack-700);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.18);
    border-radius: 0.5rem;
    font-size: 0.875rem;
    outline: none;
    box-sizing: border-box;
}
 
.labelcont input[type="password"],
.labelcont input[type="text"].password-field {
  padding-right: 2.5rem !important;
}

.icondiv {
    position: absolute;
    right: 0.75rem;      
    top: 3.5rem;       
    z-index: 10;
    cursor: pointer;
}

.forgetpassword {
    margin-top: 0.25rem;     
    margin-left: auto;       
    max-width: max-content;
    font-size: 0.75rem;       
    color: var(--blue-100);
}

.forgetpassword:hover{
    text-decoration: underline;
}

a{
    text-decoration: none !important;
}

.loginBtn {
    margin-top: 1rem;         
    padding: 0.5rem 0.75rem;    
    border-radius: 0.5rem;      
    background-color: var(--yellow-50);
    color: var(--richblack-900);
    font-weight: 500;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}